h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2 {
  font-family: Helvetica;
  font-size: 32 px;
  font-weight: bold;
  color: white;
}

span {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

.header {
  background-image: url("./images/pattern_background.webp");
}

#brushes {
  background: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}